h1 {
  background-color: rgb(233, 255, 30);
  text-align: center;
  font-family: italic;
  border-bottom: solid black;
}
h2 {
  background-color: lightgreen;
  text-align: left;
  font-family: italic;
  font-size: 30px;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: goldenrod;
  font-size: 1.5rem;
}
.center {
  text-align: center;
}
legend {
  color: indigo;
  font-size: 2rem;
}
input {
  font-size: 1.4rem;
}
textarea {
  font-size: 1.2rem;
}
