<html>
    <head>
        <%- include('header',{
            title:'ContactUs'
        }); -%>
    </head>
    <body >
        <%- include('menu')-%>

        <h1><span><center>About Us</center></span></h1>

        <div id="footer">
            <%- include('footer')-%>
          </div>
    </body>
</html>
