
<!DOCTYPE>
<html>
<head>
    <%- include('header',{
        title:'RegisterHere'
    }); -%>
</head>

<body>
<!-- Main -->
<div >
    

    <%- include('menu')-%>

    <h1><span><center>Register</center></span></h1>

    <div id="footer">
        <%- include('footer')-%>
    </div>
    
</div> <!-- /main -->

</body>
</html>
