<html>
    <head>
      <%- include('header',{
        title:'LatestNews'
    }); -%>
    </head>
    <body >
        <%- include('menu')-%>

        <h1><span><center>Latest News</center></span></h1>

        <div id="footer">
            <%- include('footer')-%>
          </div>
    </body>
</html>
