h2{
    color: rgb(216, 84, 84);
}
h3{
    color: saddlebrown;
    text-align: right;
}
.main{
    border: 1px solid black;
    width: 500px; 
    background-color: rgb(223, 187, 174);   
}
.me{
    border: 1px solid black;
    width: 500px;

}
.m2> p{
    background-color:coral;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px -2px;
    font-size:20px;
}
.m1> p{
    background-color:coral;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px -2px;
    font-size:20px;
}
.m1> ul{
    background-color:coral;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px -2px;
    color: black;
  
}
.m2> h2{
    color: black;
}
.m2> ul{
    font-size: 20px;
}
.m3> p{
    font-size: 20px;
}
.back> ul{
    border: 1px solid black;
    
    background-color: rgb(223, 187, 174);
    border-radius: 5px;
    width: 50px;
    box-shadow: 10px 10px 5px -2px;
    color: black;
    
}
.hobbie> p{
    font-size: 20px;
}
.photo{
    margin: 20px;
      padding: 30px;
}
img{
    height: 100px;
    width: 100px;
    padding: 5px;
}
.gallary{
    border: 3px double black;
    margin: 20px;
}