
h2{
    color:brown;
}
.lorem1{
    color:red
}
.resume1{
    background-color: rgb(230, 91, 11);
    border: 1px solid black;
    width: 60%;
    height: 500px;
}
.resumehead{
    border: 1px solid black;
}
.main> h3{
    text-align: right;
}
.main> p{
    background-color: cyan;
    height: 90px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px -2px;
}
div> h3{
    text-align: right;
}
div> ul{
    background-color: cyan;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px -2px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: blue
}
.phots{
    padding: 30px;
    margin: 20px;
}
